<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conductor Form</title>
    <link rel="stylesheet" href="../css/conductorstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
       

        <div class="text-box">
           <u><h1>Welcome  Conductor! </h1></u>
        </div>

        
         <div class="form">
        <form method="post" action="/conductor-dashboard">
          <h2>Login as conductor</h2>
            <input type="text" name="id" placeholder="Enter id">
            <input type="password" name="password" placeholder="Enter password here">
            <button class="btnn">Login</button>
            </form>


        </div>
    </section>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    
</body>
</html>