<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="../css/constyle.css">
</head>
<body>
    
    <section id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or assistance, please feel free to reach out to us:</p>
        <div class="contact-details">
          <p><strong>Email:</strong> info@busticketbooking.com</p>
          <p><strong>Phone:</strong> +91 7095252063</p>
          <p><strong>Address:</strong> Geethanjali Block 5 2nd Floor Room no 209, Telangana,India</p>
        </div>
      </section>
      
</body>
</html>