<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
    <link rel="stylesheet" href="../css/styleservice.css">
</head>
<body>
    <section id="services">
        <h2>Our Services</h2>
        <ul>
          <li>
            <h3>Online Ticket Booking</h3>
            <p>Book your bus tickets conveniently and securely online.</p>
          </li>
         
          <li>
            <h3>Real-time Bus Tracking</h3>
            <p>Track your bus in real-time to know its exact location and arrival time.</p>
          </li>
          <li>
            <h3>Secure Payment Options</h3>
            <p>Enjoy secure and hassle-free payment options for your ticket purchases.</p>
          </li>
          <li>
            <h3>Mobile App Access</h3>
            <p>Soon you can download our mobile app for easy and convenient ticket booking on the go.</p>
          </li>
          
        </ul>
      </section>
      
    
</body>
</html>