body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 190px;
    border-radius: 10px;
    padding: 25px;
}

h2 {
    color: #fff;
    text-align: center;
}

label {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    color: #fff;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #ff7200;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

input[type="button"]:hover {
    background-color: #45a049;
}